@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	body
        height: auto
        &:after
            content: ""
            display: table
            clear: both
        .wrapper
            text-align: center
        .header
            float: none
        .portfolio
            margin-left: 0
            width: 100%
        .slick-track
            left: 0
        .slick-prev
            left: 60px
        .icons
            display: block
            position: relative
            left: 50%
            transform: translate(-50%, 0)
            bottom: auto
            


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	body
        .wrapper
            padding: 0
        .slick-prev
            left: 60px

@media only screen and (max-width : 768px)
    body
        .portfolio__item
            margin-right: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	body
        border: none
        .portfolio
            margin-top: 22%


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

