.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 400px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.7)), to(#fce38a));
  background:    -moz-linear-gradient(top, rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.7));
  background:      -o-linear-gradient(top, rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.7));
  background:         linear-gradient(top, rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.7));
    padding: 20px;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
        margin-top: 10px;
	color: #fff;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: bold;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	margin-top: 85px;
	border-radius: 2px;
	display: inline-block;
	
	color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1.3s, opacity 0.3s;
	-moz-transition: -moz-transform 1.3s, opacity 0.3s;
	transition: transform 1.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(-15px, -10px);
	-moz-transform: translate(-15px, -10px);
	-ms-transform: translate(-15px, -10px);
	transform: translate(-15px, -10px);
}



.cs-style-1 figcaption span {
	display: block;
}




@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
