@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.eot');
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.eot');
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

