@import "fonts.css";

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	color: #104772;
	background-color: #fff;
}

.main {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.wrapper {
  	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.wrapper_big {
	max-width: 1618px;
	margin: 0 auto;
	position: relative;
}

section {
    position: relative;
}

section:after, 
.header_top:after, 
.footer:after,
.wrapper:after {
    clear: both;
    display: block;
    height: 0;
    content: '';
}

.btn {
	width: 156px;
	height: 30px;
	background-color: #104772;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	transition: .5s ease-in-out;
	color: white;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	border: none;
	box-shadow: 0px 3px 1px #0a395e;
}

.btn:hover {
	background-color: white;
	color: #104772;
	box-shadow: 0px 3px 1px #c0daef;
}

.btn_white {
	background-color: white;
	color: #104772;
	box-shadow: 0px 3px 1px #c0daef;
}

.btn_white:hover {
	background-color: #104772;
	color: white;
	box-shadow: 0px 3px 1px #0a395e;
}

h1 {
	color: white;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	color: white;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}


.open_nav {
	display: none;
}



/* HEADER */

.header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header_top {
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
}

.header_top_nav, .header_top_logo, .header_top_phones {
	padding-top: 12px;
}

.header_top .wrapper_big {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_top_nav li {
	display: inline-block;
	margin-right: 43px;
}

.header_top_nav li:last-of-type {
	margin-right: 0;
}

.header_top_nav li a {
	color: #f6f9fc;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
}

.header_top_nav li a:hover:before, .header_top_nav li a:hover:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 40%;
	height: 2px;
	background-color: #0d3e64;
	content: '';
}

.header_top_nav li a:hover:after {
	right: 0;
	top: -5px;
	left: auto;
}

.header_top_phones span {
	color: white;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: block;
	position: relative;
}

.header_top_phones span:before {
	position: absolute;
	left: -30px;
	top: 0;
	content: '\f095';
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}

.header_top_phones span:first-of-type {
	margin-bottom: 10px;
}

.header_top_phones span.header_top_phones_info {
	font-size: 14px;
	margin-top: 5px;
}

.header_top_phones span.header_top_phones_info::before {
	display: none;
}

.header_main {
	max-width: 877px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	height: 83%;
}

.header_main span {
	color: white;
	font-size: 30px;
	font-weight: 700;
	display: block;
	margin-top: 39px;
    margin-bottom: 52px;
}

.header_content_info ul {
	display: flex;
	justify-content: space-between;
}

.header_content_info ul li {
	font-family: Roboto;
	font-weight: 500;
	color: white;
	font-size: 24px;
	line-height: 48px;
	position: relative;
	padding-left: 35px;
}

.header_content_info ul li:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "Font Awesome 5 Free"; 
	content: '\f00c';
	font-weight: 900;
}

.header_form {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #fff;
	padding: 20px 0;
	width: 100%;
}

.header_form_content {
	max-width: 625px;
	margin: 0 auto;
	text-align: center;
}

.header_form_content span {
	color: white;
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin-top: 15px;
	margin-bottom: 25px;
}

.header_form_content form {
	display: flex;
	justify-content: space-between;
}

.header_form_content form input {
	color: white;
	font-weight: 400;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	width: 146px;
	height: 30px;
}

.header_form_content form input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.header_form_content form input:-ms-input-placeholder { 
    color: white;
}

.header_form_content form input::-ms-input-placeholder {
    color: white;
}

/* PROGRESS */
.progress {
	padding: 50px 0;
	text-align: center;
	background-color: #f6f9fc;
}

.progress_content {
	display: flex;
	justify-content: space-between;
}

.progress_content_item {
	margin-top: 50px;
	text-align: center;
	max-width: 265px;
	height: 200px;
	position: relative;
	padding-top: 104px;
}

.progress_content_item img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: .3;
}

.progress_content_item span {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	display: block;
	line-height: 18px;
}

.progress_content_item span.progress_content_item_number {
	margin-bottom: 30px;
	font-family: 'Roboto Condensed';
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.progress_content_item:hover img {
	opacity: 1;
	transition: .7s all ease-in-out;
}


/* BENEFITS */
.benefits {
	padding: 50px 0;
	text-align: center;
	padding-bottom: 142px;
	position: relative;
}

.benefits h2 {
	margin-bottom: 65px;
}

.benefits_row:first-of-type {
	display: flex;
	justify-content: center;
}

.benefits_row:last-of-type {
	margin-top: 85px;
}

.benefits_row {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.benefits_item {
	max-width: 370px;
	height: 154px;
	background-color: white;
	box-shadow: -0.2px 14px 15.7px 2.3px rgba(16, 71, 114, 0.07);
	z-index: 99;
	position: relative;
}

.benefits_item_title {
	height: 48px;
	background-color: #f6f9fc;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.benefits_item_info {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	padding: 25px;
}

.benefit_pic {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 1;
}

.benefits_more {
	padding: 50px 0;
	text-align: center;
	background-color: #1b5582;
}

.benefits_more h2 {
	color: #ffffff;
}

.benefits_more span {
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
    margin-bottom: 40px;
	display: block;
}

.benefits_more_form {
	max-width: 625px;
	margin: 0 auto;
	text-align: center;
}

.benefits_more_form form {
	display: flex;
	justify-content: space-between;
}

.benefits_more_form form input {
	color: white;
	font-weight: 400;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	width: 146px;
	height: 30px;
}

.benefits_more_form form input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.benefits_more_form form input:-ms-input-placeholder { 
    color: white;
}

.benefits_more_form form input::-ms-input-placeholder {
    color: white;
}

/* PRODUCTS */

.products {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}

.products h2 {
	margin-bottom: 10px;
}

.products_content {
	margin: 0 auto;
	max-width: 920px;
}

.products_content_row {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.products_content_item {
	width: 270px;
	height: 270px;
	background-color: #f6f9fc;
	box-shadow: 0 0 12px 1px rgba(16, 71, 114, 0.1);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products_content_item span {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
}

.products_content_item img {
	display: block;
	margin-top: -30px;
}

.products_content_row:first-child .products_content_item:nth-child(2) img {
	margin-top: 0;
}

.payment_more {
	background-color: #104772;
}

/* PAYMENT */

.payment {
	text-align: center;
	padding: 50px 0;
	background-color: #1b5582;
	color: #ffffff;
}

.payment_subtitle {
	margin-top: 10px;
	margin-bottom: 60px;
	display: block;
}

.payment_form_title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;
	display: block;
}

.payment_form_row {
	display: flex;
	justify-content: space-between;
	max-width: 605px;
	margin: 0 auto;
}

.payment_form_row:first-child {
	margin-bottom: 75px;
}

.payment_form_row input, .payment_form_row select {
	color: white;
	font-weight: 400;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	width: 149px;
	height: 25px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
}

.payment_form_row select {
	color: #1b5582;
	background-color: #fff;
	font-size: 14px;
	border-radius: 2px;
	width: 149px;
	height: 25px;
}

.payment_form_row input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.payment_form_row input:-ms-input-placeholder { 
    color: white;
}

.payment_form_row input::-ms-input-placeholder {
    color: white;
}

.payment_content .btn {
	margin-top: 35px;
}

/* WORK */

.work {
	padding: 60px 0;
	text-align: center;
	background-image: url(../img/work_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.work_subtitle {
	display: block;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 50px;
}

.work_content {
	max-width: 520px;
	margin: 0 auto;
	position: relative;
}

.work_content:before {
	position: absolute;
	content: '';
	width: 1px;
	background-color: #104772;
	height: 80%;
    top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.work_content_row {
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
}

.work_content_row:nth-child(even) {
	justify-content: flex-end;
}

.work_content_row .work_content_item {
	position: relative;
	width: 207px;
	height: 85px;
	background-color: white;
	box-shadow: 0 0 12px 1px rgba(16, 71, 114, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	font-weight: 500;
	text-align: left;
	padding-left: 15px;
	border-left: 2px solid #104772;
}

.work_content_row .work_content_item:before {
	content: url(../img/work_triangle.png);
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
}

.work_content_row:nth-child(even) .work_content_item {
	border-left: none;
	border-right: 2px solid #104772;
}

.work_content_row:nth-child(even) .work_content_item:before {
	left: -10px;
	right: auto;
	transform: rotate(180deg);
	top: 33%;
}

.work_content_item_number {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
}

/* REVIEWS */

.reviews {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 75px;
}

.reviews h2 {
	margin-bottom: 60px;
}

.reviews_slider {
	max-width: 770px;
	margin: 0 auto;
	height: 190px;
}

.reviews_slide {
	position: relative;
	width: 100%;
	height: 184px;
	background-color: white;
	box-shadow: 0 0 12px 1px rgba(16, 71, 114, 0.1);
	text-align: left;
	margin: 10px 0px;
}

.reviews_slide:before, .reviews_slide:after {
	position: absolute;
	content: url(../img/quotes.png);
	right: 30px;
	top: -10px;
}

.reviews_slide:after {
	left: 30px;
	bottom: -10px;
	right: auto;
	top: auto;
	transform: rotate(180deg);
}

.reviews_slide_author {
	width: 207px;
	height: 100%;
	background-color: #f6f9fc;
	float: left;
	padding: 30px;
}

.author_name {
	font-size: 18px;
	font-weight: 700;
	display: block;
	position: relative;
	text-transform: uppercase;
}

.author_name:before {
	position: absolute;
	bottom: -8px;
	left: 0;
	content: '';
	width: 52px;
	height: 2px;
	background-color: #104772;
}

.author_prof {
	display: block;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	line-height: 16px;
	margin-top: 25px;
}

.reviews_slide_info {
	float: right;
	width: 560px;
	padding: 35px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	font-style: italic;
	padding-top: 30px;
	padding-right: 115px;
}

.slick-slide, .slick-slide *{ outline: none !important; }

.slick-arrow {
	position: absolute;
	left: -60px;
    top: 50%;
    border: none;
    background-color: transparent;
    background-image: url(../img/arrow.png);
    background-size: contain;
    width: 14px;
	height: 20px;
    background-repeat: no-repeat;
    font-size: 0;
    opacity: .5;
    cursor: pointer;
	z-index: 11;
	transform: rotate(180deg);
	outline: none;
}

.slick-arrow:hover {
	opacity: 1;
}

.slick-next {
	left: auto;
	right: -60px;
	transform: rotate(0);
}

/* FEEDBACK */

.feedback {
	background-color: #f6f9fc;
}

.feedback_img, .feedback_info {
	float: left;
	width: 50%;
	min-height: 575px;
}

.feedback_img {
	background-image: url(../img/feedback_img.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}

.feedback_info {
	padding: 70px;
	padding-bottom: 0;
}

.feedback_info h2 {
	margin-bottom: 20px;
}

.feedback_info h2:last-of-type {
	position: relative;
}

.feedback_info h2:last-of-type:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: -20px;
	width: 160px;
	height: 3px;
	background-color: #104772;
}

.feedback_info_form {
	width: 463px;
	height: 293px;
	background-color: white;
	padding: 35px;
	margin-top: 65px;
}

.feedback_info_form span {
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.feedback_info_form form {
	margin-top: 35px;
}

.feedback_info_form input {
	color: #104772;
	font-weight: 400;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #104772;
	outline: none;
	width: 149px;
	height: 25px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	display: block;
	margin-bottom: 25px;
}

.feedback_info_form input::placeholder {
    color: #104772;
    opacity: 1; /* Firefox */
}

.feedback_info_form input:-ms-input-placeholder { 
    color: #104772;
}

.feedback_info_form input::-ms-input-placeholder {
    color: #104772;
}

.feedback_info_form .btn {
	margin-top: 6px;
	width: 146px;
}

/* FOOTER */
.footer_content {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #104772;
}

.footer_top {
	display: flex;
	justify-content: space-around;
	color: #ffffff;
}

.footer_content_phones span {
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	display: block;
	position: relative;
}

.footer_content_phones span:before {
	position: absolute;
	left: -30px;
	top: 0;
	content: '\f095';
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}

.footer_content_phones span:first-of-type {
	margin-bottom: 10px;
}

.footer_content_phones span.footer_content_phones_info {
	font-size: 14px;
	margin-top: 5px;
}

.footer_content_phones span.footer_content_phones_info::before {
	display: none;
}

.footer_content_logo {
	width: 220px;
	height: 53px;
}

.footer_content_logo img {
	width: 100%;
}

.footer_content_social_email {
	color: white;
	font-size: 16px;
	padding-left: 28px;
	position: relative;
}

.footer_content_social_email:before {
	position: absolute;
	left: 0px;
	top: 2px;
	content: '\f0e0';
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}

.footer_content_social ul {
	margin-top: 25px;
	text-align: right;
}

.footer_content_social li {
	display: inline-block;
	margin-left: 20px;
}

.footer_content_social i:hover {
	transition: .7s all ease-in-out;
	transform: rotateY(360deg);
}

.footer_content_social i {
	color: #fff;
	font-size: 20px;
}

.footer_bottom {
	text-align: center;
	background-color: #0f426a;
	padding: 15px 0;
	color: #ffffff;
}

.close_nav {
	display: none;
}

/* MEDIA */

@media only screen and (max-width: 1367px) {
	.feedback_info h2 {
		font-size: 23px;
	}
}


@media only screen and (max-width: 1025px) {
	.header_top_nav li {
		margin-right: 8px;
	}
	.feedback_info_form {
		width: 425px;
	}
	.feedback_info_form span {
		font-size: 18px;
	}
}

@media only screen and (max-width: 769px) {
	.header_top_nav {
		display: none;
		opacity: 0;
	}

	.open_nav {
		display: block;
		margin-left: 20px;
	}

	.header_top_nav.opened {
		width: 100%;
		height: 100vh;
		background-color: #104772;
		background-image: url(../img/header_bg.jpg);
		background-size: cover;
		background-position: center;
		display: block;
		transition: .5s all ease-in-out;
		opacity: 1;
		left: 0;
		top: 0;
		z-index: 999;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		position: fixed;
	}

	.header_top_nav.opened li {
		display: block;
		margin: 35px auto;
	}

	.header_top_nav.opened:before {
		content: url(../img/header_logo.png);
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		max-width: 100%;
	}
	.header_top_nav li a {
		font-size: 30px;
	}

	.benefit_pic {
		width: 100%;
	}

	.benefits {
		padding-bottom: 340px;
	}
	.reviews_slider {
		max-width: 600px;
	}
	.reviews_slide_author {
		width: 35%;
	}
	.reviews_slide_info {
		float: right;
		width: 65%;
	}
	.reviews_slide {
		height: auto;
	}
	.feedback_img, .feedback_info {
		float: none;
		width: 100%;
		min-height: 290px;
	}
	.feedback_info_form {
		width: 70%;
		margin: 0 auto;
		margin-top: 50px;
	}

	.footer_content_phones span:before {
		left: -25px;
	}

	.close_nav {
		position: absolute;
		left: 20px;
		top: 15px;
		display: block;
	}
	
}	

@media only screen and (max-width: 600px) {
	.header_top .wrapper_big {
		flex-flow: column;
		justify-content: center;
	}

	.open_nav {
		position: absolute;
		left: 0px;
		top: 15px;
	}

	.header_top_logo {
		margin-top: 30px;
		width: 60%;
	}

	.header_top_logo img {
		width: 100%;
	}

	.header_top_phones {
		margin-left: 50px;
	}

	.header_top_phones span {
		font-size: 17px;
	}

	.header {
		height: auto;
	}

	.header_main h1 {
		font-size: 30px;
		margin-top: 25px;
	}
	.header_form {
		position: relative;
	}
	.header_main span {
		margin: 25px 0;
		font-size: 21px;
	}
	.header_content_info ul li {
		font-size: 11px;
		padding-left: 25px;
	}
	.header_content_info {
		margin: 0 10px;
	}
	.header_form_content form, .benefits_more_form form, .payment_form_row {
		justify-content: center;
		flex-flow: column;
		text-align: center;
	}
	.header_form_content form input, .header_form_content form .btn,
	.benefits_more_form form input, .benefits_more_form form .btn, 
	.payment_form_row input {
		margin: 10px auto;
		display: block;
	}
	.header_form_content span {
		margin: 10px;
	}
	.header_content {
		padding: 20px;
	}
	.header {
		background-position: center;
	}

	.progress_content {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	h2 {
		font-size: 25px;
	}

	.benefits_row {
		justify-content: center;
		flex-flow: column;
		align-items: center;
	}

	.benefits_row:last-of-type {
		margin-top: 0;
	}

	.benefits_item {
		margin-bottom: 20px;
		width: 90%;
		height: auto;
	}
	.benefit_pic {
		position: relative;
	}
	.benefits {
		padding-bottom: 0;
	}

	.products_content_row {
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	.products_content_item {
		margin-bottom: 20px;
	}
	.payment_form_row select {
		margin: 0 auto;
	}
	.payment_form_row:first-child {
		margin-bottom: 0;
	}

	.work_content:before {
		display: none;
	}

	.work_content_item_number {
		top: 50%;
		right: 10%;
		left: auto;
		transform: translateY(-50%);
	}
	.work_content_row:nth-child(even) .work_content_item_number {
		left: 10%;
		right: auto;
	}

	.reviews_slider {
		width: 100%;
	}
	.reviews_slide_author, .reviews_slide_info {
		float: none;
		width: 100%;
		padding: 35px;
	}
	.slick-arrow {
		display: none!important;
	}
	.reviews_slide {
		margin: 30px 0px;
	}
	.reviews h2 {
		margin-bottom: 20px;
	}

	.reviews {
		padding-bottom: 265px;
	}

	.feedback_info {
		padding: 25px;
	}
	.feedback_info_form {
		width: 100%;
		height: auto;
	}	

	.footer_top {
		justify-content: center;
		align-items: center;
		flex-flow: column;
	}

	.footer_content_logo {
		margin: 20px;
	}
	.header_top_nav li a {
		font-size: 25px;
	}
	
}